@media only screen and (max-width:480px) {

.block-mast {
  padding-bottom:60px;

  img.main {
    padding-left:0;
    margin-top:50px;
  }

  p { 
    font-size:20px;
  }

  .badges {
    margin-top:30px;
  }
}

.block-highlight {
  padding:40px 0;

  img.main {
    padding-left:0;
    margin-bottom:30px;
  }
}

.block-highlight-alt {
  padding:40px 0;

  img.main {
    padding-left:0;
    margin-bottom:30px;
  }
}

.block-customer-love {
  padding:20px 0;

  .row {

    .carousel-inner {

      .carousel-item {

        .quotation-box {
          padding:0;
          margin:16px;
          height:280px;

          p {

            &.sm {
              font-size:16px;
            }

            &.md {
              font-size:20px;
            }

            &.lg {
              font-size:24px;
            }
          }
        }
      }
    }
  }
}

.block-callout-alt {
  padding:40px 0 0 0;

  img.main {
    margin-top:20px;
  }
}


.block-screen {
  padding:30px 0;

  .row {
    margin:50px 0;
  }

  a {
    font-size:16px;
    font-weight:400;
  }
}


.device-container {

  .mask {
    margin: 0 8px 0 0;
  }

  .video-container {
    margin:0 8px 0 0;
  }
}


}