<!-- APP STORES -->
<div class="container-fluid block-appstores">
	<div class="container">
		<div class="row">
			<div class="col-sm-1 text-center text-md-left appstore-logo">
				<img src="assets/images/appstore_logo.svg" />
			</div>
			<div class="col-sm-5 text-center text-md-left align-self-center">

				<div class="getit">
					<p class="title">Download Kohort Now</p>
					<p class="subtitle">Start building your supergroup today.</p>
				</div>
			</div>
			<div class="col-sm-6 align-self-center text-center text-md-right">
				<div class="badges">
					<a href="https://itunes.apple.com/us/app/kohort/id1394371125?ls=1&mt=8" target="_blank"><img src="assets/images/badge_appstore.svg" /></a>
					<a href="https://play.google.com/store/apps/details?id=com.kohort.app" target="_blank"><img src="assets/images/badge_googleplay.svg" /></a>
				</div>
			</div>
		</div>
	</div> 
</div>

<!-- FOOTER -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class=" col-sm-9 menu-items">
				<a href="/features">Features</a>
				<a href="/privacy">Privacy</a>
				<a href="/terms">Terms of Service</a>
			</div>
			<div class="col-sm-3 social text-center text-md-right">
				<a href="https://twitter.com/kohort?lang=en" target="_new"><img src="assets/images/footer_twitter.svg" /></a>
				<a href="https://www.instagram.com/kohortapp/" target="_new"><img src="assets/images/footer_instagram.svg" /></a>
				<a href="https://www.youtube.com/channel/UCXdb7gA9HQlobyWzgDRCNpw" target="_new"><img src="assets/images/footer_youtube.svg" /></a>
			</div>
		</div>
		<p class="closer">Kohort © 2020</p>
	</div>
</footer>

<!-- inject js -->
<script src="js/bundle.js"></script>